.bg {
    background-image: url("../../assets/Images/black-felt.png");
    background-repeat: repeat-x repeat-y;
    min-height: 2000px;

}

#headshot {
    margin-top: 5px;
}

#box {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
}

#portfolioCard {
    margin: auto;
}

#aboutMe {
    font-size: 16pt;
    text-align: justify;
    margin-right: 10px;
    padding-left: 10px;
}

#intro{
    margin-bottom: 2px;
    font-size: 14pt;
}


